{% extends 'layout.html' %}

{% block title %} History {% endblock %}

{% block main %}
    <table class="table table-bordered">

        <thead>
            <tr>
                {% for head in header %}
                    <th> {{ head }} </th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for row in rows %}
            <tr>
                {% for head in header %}

                    {% if head == 'total price' or head == 'count' %}
                        {% if row['price'] > 0 %}
                            <td class="green-text">
                        {% else %}
                            <td class="red-text">
                        {% endif %}
                    {% else %}
                        <td>
                    {% endif %}

                        {{ row[head] }}
                    </td>

                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock %}
