{% extends 'layout.html' %}

{% block title %} Home {% endblock %}

{% block main %}
    <table class="table table-striped">

        <thead>
            <tr>
                {% for head in header %}
                    <th> {{ head.capitalize() }} </th>
                {% endfor %}
                <th>  </th>
            </tr>
        </thead>

        <tbody>
            {% for row in rows %}
                <tr>
                    {% for head in header %}
                        <td> {{ row[head] }} </td>
                    {% endfor %}
                    <td>
                        <button class="btn btn-secondary" data-toggle="collapse" data-target="#sell"> Sell </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

    <div class="collapse card" id="sell" style="width: 40vw;">
        <form class="card-body" action="/sell" method="post">
            <div class="form-group">
                <input class="form-control" placeholder="Symbol" name="symbol" type="text">
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="SHares count" name="count" type="number">
            </div>
            <button class="btn btn-primary" type="submit" id="submit"> Sell </button>
        </form>
{% endblock %}
