{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Password Again" type="password">
        </div>
        <button class="btn btn-primary" type="submit" id="submit" disabled>Register</button>
    </form>
{% endblock %}

{% block script %}
    <script>
        const inputs = document.getElementsByTagName('input'),
            btn = document.getElementById('submit');

        document.addEventListener('keyup', (e) => {
            // Iterate over the input
            for (input of inputs) {
                // If the input is Empty
                if (input.value == '') {
                    btn.disabled = true
                    return;
                }
            }
            // Ensure the password matches confirmation
            if (inputs[1].value != inputs[2].value) {
                    // Disable the button
                    btn.disabled = true
                    return;
            }
            btn.disabled = false
        });
    </script>
{% endblock %}
