{% extends 'layout.html' %}

{% block title %} Sell {% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <input autofocus class="form-control" placeholder="Symbol" name="symbol" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="Shares count" name="count" type="number">
        </div>
        <button class="btn btn-primary" type="submit" id="submit" disabled> Sell </button>
    </form>
{% endblock %}

{% block script %}
    <script src="/static/shareCountForm.js"></script>
{% endblock %}
